In [1]:
print (7)

7

In [2]:
print ("hello hi")

hello hi

In [3]:
name = 'dhruv'
print ('hello',name)

hello dhruv

In [5]:
print ('hello '+ name)

hello dhruv

In [6]:
print (f"hello {name} ")

hello dhruv

In [10]:
# hello name is dhruv
print ('.')

.

In [11]:
#integer
x = 10

#float
y = 9.2

#complex
z= 2 + 3j

In [12]:
type (x)

int

In [13]:
type (y)

float

In [14]:
type (z)

complex

In [15]:
#boolean 
f = True

In [16]:
type (f)

bool

In [18]:
print (7 , 'hello')

7 hello

In [20]:
mixed_list = [10, 'hello', 3.14 ]
print (mixed_list)

[10, 'hello', 3.14]

In [28]:
#string
string = 'hello , hi'
print (type (string))

<class 'str'>

In [30]:
#list
list = [10,12,13,16]
print (type(list))
print (list)

<class 'list'>
[10, 12, 13, 16]

In [33]:
#tuples
names = ('dhruv','isha')
print (type(names))

<class 'tuple'>

In [35]:
#dictionary
personaldetails = {'name':'dhruv','age':19}
print (type(personaldetails))
print (personaldetails)

<class 'dict'>
{'name': 'dhruv', 'age': 19}

In [38]:
#set
set = {5,7,9,10,10}
print (type(set))
print (set)

<class 'set'>
{9, 10, 5, 7}

In [40]:
#frozenset
immutable = frozenset ({1,2,3,4,5})
print (type(immutable))
print (immutable)

<class 'frozenset'>
frozenset({1, 2, 3, 4, 5})

In [42]:
#none type
result = None
print (type(result))
print (result)

<class 'NoneType'>
None

In [47]:
#input
a = input()
print (a)

d
d

In [50]:
d = input('enter your name ')
print ("the name is "+ d)

enter your name dhruv
the name is dhruv

In [51]:
d = input('enter your age ')
print ("the age is "+ d)

enter your age 18
the age is 18

In [52]:
print (type(d))

<class 'str'>

In [57]:
d = int (input('enter your age '))
print ("the age is ", d)

enter your age 5
the age is  5

In [58]:
print (type(d))

<class 'int'>

In [60]:
print (2+3)

5

In [61]:
print (6-7)

-1

In [62]:
print (2*8)

16

In [63]:
print (10/4)

2.5

In [64]:
print (10//4)

2

In [65]:
print (10%4)

2

In [66]:
print (3**2)

9

In [67]:
print (3==4)

False

In [68]:
print (4!=5)

True

In [69]:
print (5>6)

False

In [70]:
print (6<7)

True

In [71]:
print (5<=5)

True

In [72]:
print (6>=6)

True

In [75]:
s = 7
s+=3
print (s)

10

In [76]:
print ((4==5) and (3==4))

False

In [77]:
print ((4==5) or (4==4))

True

In [79]:
print ( not (3==4))

True

In [2]:
f = input ('please enter your name ')
print ('my name is' , f)

please enter your name moses
my name is moses