In [3]:
l1 = []
l2 = list ()
l3 = [1,2,3,4,5]
l4 = [9, "hello" , False , "hi"]
print (f"{l1} {l2} {l3} {l4}")

[] [] [1, 2, 3, 4, 5] [9, 'hello', False, 'hi']

In [4]:
l5 = list("hello isha")
print (l5)

['h', 'e', 'l', 'l', 'o', ' ', 'i', 's', 'h', 'a']

In [6]:
l6 = ["hello", [3,2] , "bye"]
print (l6)

['hello', [3, 2], 'bye']

In [10]:
l7 = [4,7,5,6,8,3,9]
print (l7[5])
print (l7[-6])

3
7

In [11]:
print (l7["b"])

TypeError: list indices must be integers or slices, not str

In [12]:
print (l7[9])

IndexError: list index out of range

In [13]:
print (l7[1:5])

[7, 5, 6, 8]

In [14]:
print (l7[:6])

[4, 7, 5, 6, 8, 3]

In [15]:
print (l7[5:])

[3, 9]

In [16]:
print (l7[:-2])

[4, 7, 5, 6, 8]

In [17]:
print (l7[-3:])

[8, 3, 9]

In [18]:
print (9 in l7)

True

In [19]:
print (10 in l7)

False

In [20]:
print (9 not in l7)

False

In [1]:
integer_list = [1,2,3]
string_list = ["date","time","fun"]

new_list = integer_list+string_list 
print (new_list)

[1, 2, 3, 'date', 'time', 'fun']

In [2]:
integer_list = [1,2,3,4,5,6,7,8]
print(len(integer_list))

8

In [5]:
integer_list = [1,2,3,4,5,6,70]

#max and min
print(max(integer_list)), "-", (min(integer_list))

#index
print(integer_list.index(1))

#count()
print (integer_list.count(70))

70
0
1

In [6]:
l=[]

#add elements
l.append(36)
l.append(24)
l.append(56)
print(l)

l.extend([57,78,92])
print(l)

l.insert(3,69) #position, value

l.sort() #ascending order
print(l)

l.sort(reverse=True) #descending
print(l)

#reversing a list
l.reverse()
print(l)

#deleting an element
l.remove(56) #by value
print(l)

l.pop(0) #by index
print(l)

[36, 24, 56]
[36, 24, 56, 57, 78, 92]
[24, 36, 56, 57, 69, 78, 92]
[92, 78, 69, 57, 56, 36, 24]
[24, 36, 56, 57, 69, 78, 92]
[24, 36, 57, 69, 78, 92]
[36, 57, 69, 78, 92]

In [13]:
fruits = {"apple","banana","guava"}
fruits.add("mango")
print(fruits)
fruits.update({"orange","strawberry"})
print(fruits)

{'apple', 'banana', 'mango', 'guava'}
{'strawberry', 'orange', 'apple', 'banana', 'mango', 'guava'}

In [14]:
fruits.remove("apple")
print(fruits)

fruits.remove("apple")
print(fruits)

{'strawberry', 'orange', 'banana', 'mango', 'guava'}

KeyError: 'apple'

In [15]:
fruits.discard("apple")
print(fruits)

{'strawberry', 'orange', 'banana', 'mango', 'guava'}

In [17]:
fruits = fruits.union({"niurfnr","biurfbiufr","buiber"})
print(fruits)

{'mango', 'guava', 'strawberry', 'orange', 'niurfnr', 'biurfbiufr', 'buiber', 'banana'}

In [18]:
fruits.clear()
print(fruits)

set()

In [23]:
dic = {"Name":"Ram","Age": 23, "Degree":"b.tech"}
print(dic)

{'Name': 'Ram', 'Age': 23, 'Degree': 'b.tech'}

In [28]:
print(dic["Name"])

Ram

In [30]:
print(f"name is: {dic['Name']}")

name is: Ram

In [32]:
print(dic['Name'])
dic['Name'] = 'isha'
print(dic['Name'])

Ram
isha

In [34]:
print(dic)
dic['Country'] = 'India'
print(dic)

{'Name': 'isha', 'Age': 23, 'Degree': 'b.tech'}
{'Name': 'isha', 'Age': 23, 'Degree': 'b.tech', 'Country': 'India'}

In [41]:
print(dic)
del dic['Name']
print(dic)

{'Age': 23, 'Country': 'India'}

KeyError: 'Name'

In [42]:
print(dic)
dic.pop('Degree')
print(dic)

{'Age': 23, 'Country': 'India'}

KeyError: 'Degree'

In [43]:
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['Age', 'Country'])
dict_values([23, 'India'])
dict_items([('Age', 23), ('Country', 'India')])

In [44]:
for x,y in dic.items():
    print(f"{x}:{y}")

Age:23
Country:India

In [45]:
print(len(dic))
print(dic.get('Age'))
dic.update({'Name' : 'Rohit'})
print(dic)

2
23
{'Age': 23, 'Country': 'India', 'Name': 'Rohit'}